.App {
  text-align: center;
}

.App-logo {
  height: 2vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 2vmin;
  font-size: calc(10px + 1.8vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto/Roboto-Medium.ttf'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto'),
       url('fonts/Roboto/Roboto-Medium.ttf') format('truetype') /* Safari, Android, iOS */
}

body {
  font-family: Roboto;
}

p {
  font-size: 32px;
  font-weight: 500;
  color: #f9f9f9;
  padding: 15px 0 0;
}

.CardHeader__header {
  padding-top: 2vmin;
}
.CardHeader__header div{
  padding: 0 10px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #f9f9f9;
  text-transform: uppercase;
}
.CardBodyResults {
  padding-top: 1vmin;
}
.CardResults div{
  color: #f9f9f9;
  font-size: 15px;
  font-weight: 400;
}
.SearchPlayer {
  padding: 0 10px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #f9f9f9;
  text-transform: uppercase;
  background-color: #000;
  text-align: center;
  border: 0;
}